# ===========================================
# MySQL Development Environment Configuration
# ===========================================

# MySQL Root Password (используется docker-compose.yml)
MYSQL_ROOT_PASSWORD=root_password

# phpMyAdmin Configuration (используется docker-compose.yml)
PMA_HOST=mysql-dev

# Ports Configuration
MYSQL_PORT=your_db_port
PHPMYADMIN_PORT=your_phpmyadmin_port

# MySQL Database Configuration
# База и пользователь создаются вручную через PHPStorm или init.sql
#MYSQL_HOST=mysql-dev
#MYSQL_PORT=your_db_port
#MYSQL_DATABASE=your-db
#MYSQL_USER=database-user
#MYSQL_PASSWORD=database-user-password

#-- Создать пользователя в PHP Storm Database console
#CREATE USER 'database-user'@'%' IDENTIFIED BY 'надёжный_пароль';
#
#-- Выдать права на конкретную БД
#GRANT SELECT, INSERT, UPDATE, DELETE ON `your-db`.* TO 'database-user'@'%';
#
#-- Применить
#FLUSH PRIVILEGES;
