# ===========================================
# MySQL Development Environment Configuration
# ===========================================

# MySQL Root Password (используется docker-compose.yml)
MYSQL_ROOT_PASSWORD=root_password

# phpMyAdmin Configuration (используется docker-compose.yml)
PMA_HOST=mysql-dev

# Ports Configuration
MYSQL_PORT=your_db_port
PHPMYADMIN_PORT=your_phpmyadmin_port

# MySQL Database Configuration
# База и пользователь создаются вручную через PHPStorm или init.sql
#MYSQL_HOST=mysql-dev
#MYSQL_PORT=your_db_port
#MYSQL_DATABASE=your-db
#MYSQL_USER=database-user
#MYSQL_PASSWORD=database-user-password

#-- 1) Пользователь под конкретный проект
#CREATE ROLE edu_user WITH LOGIN PASSWORD '3179019';
#
#-- 2) База под проект (ВАЖНО: владелец = этот пользователь)
#CREATE DATABASE edu OWNER edu_user;
#
#-- 3) (рекомендуется) закрыть доступ всем прочим и оставить только владельца
#REVOKE ALL ON DATABASE edu FROM PUBLIC;
#GRANT CONNECT ON DATABASE edu TO edu_user;
#
#-------
#
#DROP DATABASE edu;
#-- DROP SCHEMA edu_schema CASCADE;
#DROP USER edu_user;
